* {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

body {
  padding: 60px;
}

input {
  width: 100%;
  font-size: 1.1rem;
  color: grey;
  outline: none;
  border: 1px solid rgb(72, 58, 255);
  padding: 5px;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.gifs {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.gifs .card {
  overflow: hidden;
  height: 250px;
  align-content: center;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  position: relative;
}

.gifs .card img {
  width: 100%;
}

.gifs .paragraph {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem;
}

@media screen and (max-width: 1024px) {
  body {
    padding: 20px;
  }

  .gifs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .gifs {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
